.version-list {
    width: 480px; margin: 60px auto;
}
.version-list ul {
    padding: 0;
}
.version-list li {
    border: 1px solid white;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 5px 5px 6px black;
    border-radius: 4px;
    list-style-type: none;
    margin: 20px 0;
}
