.version-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    max-width: 1200px;
    margin: 20px auto;
   
  }
  .version-list .card {
    background: #fff;
    color: #333;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    position: relative;
    background-color: #effaf0;
    border-width: 1px;
    border-color: red;
   
  }
  .version-list .card:hover {
    transform: rotate(3deg);
  }
  .version-list .card h3 {
    color: #555;
    margin-bottom: 6px;
  }
  .version-list .card p {
    color: #999;
    font-size: 0.9em;
  }
  .version-list .card div {
    color: #555;
    font-size: 0.7em;
    margin: 20px 0;
    line-height: 1.5em;
  }
  .version-list :hover {
    background-color: yellow;  
  }
  .version-list h3:hover {
    color: red;  
  }
  .version-list p:hover {
    color: lime; 
    background-color:lightgray; 
  }
  .delete {
    position: absolute;
    top: 10px;
    right: 45px;
    cursor: pointer;
    filter: invert(60%);
    height: 20%;
  }  
  .edit {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    filter: invert(60%);
    height: 20%;
  }  

  @media screen and (max-width: 768px) {
    .version-list {
      grid-template-columns: 1fr;
      margin: 1px auto;
      max-width: 100%;
    }   
}
   

  